@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
body {
  padding: 3rem;
  background: #f8f9fa;
}
.financiial-calculators {
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calc-title {
  font-size: 4rem;
  font-weight: 500;
  margin-bottom: 5rem;
  text-align: center;
  position: relative;
  background: #f8f9fa;
}
.title::after {
  content: " ";
  position: absolute;
  width: 20rem;
  height: 0.25rem;
  background: #00d391;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.calculators {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f8f9fa;
}
.calc-box {
  width: 28%;
  position: relative;
  height: 85vh;
  padding: 2rem;
  min-width: 300px;
  min-height: 525px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  margin: 1rem;
  box-shadow: 0 5px 20px rgba(0, 84, 209, 0.1);
  transition: all 0.3s ease-in-out;
}
.calc-box:hover {
  box-shadow: 0 5px 50px rgba(0, 84, 209, 0.25);
}
.calc-box-img {
  width: 80%;
  margin-top: 1rem;
}
.calc-box-title {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.calc-box:hover .btn {
  box-shadow: 0 5px 10px #0054d1;
}
.calc-box-description {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  min-height: 10.5rem;
}
.btn {
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 0.8rem 3rem;
  border-radius: 0.7rem;
  position: relative;
  bottom: 1.5rem;
  color: #fff;
  border: none;
  background: #0054d1;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 5%;
}

@media only screen and (max-width:480px){
  html{
    font-size: 50%;
  }
  .calc-box{
    height: 50vh;
    min-height:450px ;
  }
  .btn
  {
    bottom: 3rem;
  }
  body,.calc-title,.calculators{
    background: #e7e7e7;
  }
  .title::after{
    background: #0054d1;
  }
  .dcf,.coupound-intrest
  {
    display: none;
  }
}